@import 'tailwindcss';

@theme {
    --font-sans: 'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    background:rgba(148, 57, 14, 0.3) no-repeat fixed center url('../assets/gargraphicsbck.png');
    background-size: 100% 100%;
    color:#C0C0C0;
}

a:not(.button) {
    color:#C0C0C0;
}

a:hover:not(.button) {
    color:#FFFFFF;
}

#nav {
    background-color:rgba(88,88,88,.6);
    width:80vw;
    margin:auto;
    border-radius:25px;
}


#navLogo {
 padding-left:2%;
}

#navLogo > h1{
    justify-self:center;
}
    