@import 'tailwindcss';

@theme {
    --font-sans: 'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    background:rgba(148, 57, 14, 0.3) no-repeat fixed center url('../assets/gargraphicsbck.png');
    background-size: 100% 100%;
    color:#C0C0C0;
}

a:not(.button) {
    color:#C0C0C0;
}

a:hover:not(.button) {
    color:#FFFFFF;
}

@font-face {
    font-family: itcedscr;
    src: url(../assets/fonts/ITCEDSCR.TTF);
}
    
.imgLink > img {
    box-shadow: 0px 5px 4px rgba(255, 0, 0, 0.50);
}