---
import Logo from '../components/Logo.astro';

const navItems = [
    { linkText: 'Home', href: '/' },
    { linkText: 'Revalidation', href: '/revalidation' },
    { linkText: 'Image CDN', href: '/image-cdn' },
    { linkText: 'Edge Function', href: '/edge' },
    { linkText: 'Blobs', href: '/blobs' }
];
---

<nav class="flex flex-wrap items-center gap-4 pt-6 sm:pt-12" id="nav">
    <a href="/" id="navLogo">
        <Logo />
        <h1>Gar Graphics</h1>
    </a>
    <div class="hamburgerIcon">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

    <div style="display:none">
    {
        !!navItems?.length && (
            <ul class="flex flex-wrap gap-x-4 gap-y-1" id="desktopNav">
                {navItems.map((item) => (
                    <li>
                        <a href={item.href} class="inline-block px-1.5 py-1 sm:px-3 sm:py-2 nav-link text-gray-100">
                            {item.linkText}
                        </a>
                    </li>
                ))}
            </ul>
            
        )
    }
    </div>
</nav>
<style>
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: pink;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburgerIcon {
    margin-left: auto;
    padding-right:3%;
}
</style>
