---
import Logo from '../components/Logo.astro';
import "../../src/styles/header.css";

const navItems = [
    { linkText: 'Home', href: '/' },
    { linkText: '3D Printing', href: '/3dprinting' },
    { linkText: 'WoodWork', href: '/woodwork' },
    { linkText: 'Contact', href: '/contact' }
];
---

<header class="sticky">
    <div class="flex flex-wrap flex-row items-center gap-4" id="headerPanel">
        <a href="/" id="headerLogo" class="pt-[2%]">
            <!--
            <Logo />
             -->
            <h1>Gar_Graphics</h1>
        </a>
        <div class="hamburgerIcon" id="navIcon">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
    <nav id="nav">
        <div id="hambPanel" style="display:none">
            <div class="pr-[3%] py-[5%] ml-auto w-fit h-[50%] flex items-center logoContainer" id="logoContainer">
                <Logo />
            </div>
            {
                !!navItems?.length && (
                    <div class="flex flex-col justify-end align-end h-[50%]">
                        <ul class="flex flex-wrap gap-x-4 gap-y-1 navUl text-2xl pb-[1%] pr-[2%]">
                            {navItems.map((item) => (
                                <li>
                                    <a href={item.href} class="inline-block px-1.5 py-1 sm:px-3 sm:py-2 nav-link text-gray-100">
                                        {item.linkText}
                                    </a>
                                </li>
                            ))}
                        </ul>
                    </div>
                )
            }
        </div>
        <div style="display:none">
        
        </div>
    </nav>
</header>

<script>
    document.addEventListener("DOMContentLoaded", function(e) {
        const navIcon = document.getElementById("navIcon");
        navIcon.addEventListener("click", function() {ShowHide(this);}, false );
    });
    
    function ShowHide(x) {
        x.classList.toggle("change");
        var Menu = document.getElementById("hambPanel");
        console.log(Menu.style.display);
        if (Menu.style.display === "none") {
            Menu.style.display = "block";
            rotateLogo();
        } else {
            Menu.style.display = "none";
            resetLogoRotation();
        }
    }

    function rotateLogo() {
        setTimeout(function() {
            const logoImg = document.getElementById("logoImg");
            console.log(logoImg);
            logoImg.classList.add("logoRotation");
        }, 50);
    }

    function resetLogoRotation() {
        const logoImg = document.getElementById("logoImg");
        logoImg.classList.remove("logoRotation");
    }
</script>
